.link {
  color: #FFF;
}

.link:hover {
  color: #FFF;
  text-decoration: none;
}

.getStartedLink {
  border: solid white 1px;
  background-color: white;
  padding: 16px 22px 16px 22px;
  color: black;
}

.getStartedHover:hover {
  text-decoration: none;
}

.slogan {
  position: absolute;
  top: 25%;
  left: 20%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
